@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(90, 103, 124);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.selected {
  background-color: rgba(38, 138, 219, 0.836);
}

.highlight {
  background-color: rgba(89, 224, 248, 0.281);
}

.board {
  background-color: aliceblue;
}

.boardCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controlBtn:hover {
  background-color: aquamarine;
}

.inputCell {
  background-color: aliceblue;
}

.inputCell:hover {
  background-color: rgba(89, 224, 248, 0.281);
}