@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #374875;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.selected {
  background-color: #ff6a3d;
}

.highlight {
  background-color: #9daaf2;
}

.board {
  background-color: aliceblue;
}

.boardCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gamebuttonList {
  display: flex;
  justify-content: space-between;
}

.controlBtn {
  border: 1px solid #E9DDCE;
  border-radius: 5%;
  margin-top: 0.75rem;
  padding: 10px;
  color: #E9DDCE;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.controlBtn:hover {
  background-color: #E9DDCE;
  color: #314251;
}

.inputCell {
  background-color: aliceblue;
}

.inputCell:hover {
  background-color: #f4db7d;
}

.joinRow {
  display: flex;
  margin-top: 30px;
}

.createCol {
  border: 1px solid #E9DDCE;
  border-radius: 5%;
  margin: 5px;
  padding: 10px;
  color: #E9DDCE;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.createCol:hover {
  background-color: #E9DDCE;
  color: #374875;
}

.joinCol {
  border: 1px solid #E9DDCE;
  border-radius: 5%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  color: #E9DDCE;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.joinCol:hover {
  background-color: #E9DDCE;
  color: #314251;
}

.roomInput {
  background-color: #fffcf9;
  color: #314251;
}