@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #374875;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.selected {
  background-color: #ff6a3d;
}

.highlight {
  background-color: #9daaf2;
}

.board {
  background-color: aliceblue;
}

.boardCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controlBtn {
  background-color: #ff6a3d;
}

.controlBtn:hover {
  background-color: #f4db7d;
}

.inputCell {
  background-color: aliceblue;
}

.inputCell:hover {
  background-color: #f4db7d;
}

.roomInput {
  margin-top: 30px;
  margin-right: 10px;
}